@import url("https://webglfundamentals.org/webgl/resources/webgl-tutorials.css");

body {
  margin: 0;
}

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}

nav {
  position: absolute;
  top: 50px;
  left: 50px;
  display: flex;
  padding: 15px;
  background-color: white;
}
nav * {
  margin: 0;
}
nav .links {
  margin-left: 50px;
}
nav a {
  display: block;
}


#fps {
    font-size: 32px;
}